<div class="container">
  <ul class="iconContainer">
    <li class="content">
      <img src="../../assets/icons/icon6/iconmonstr-facebook-1-2.png">
      <p>Facebook</p>
      <p>234k</p>
      <p>Likes</p>
    </li>
    <li class="content">
        <img src="../../assets/icons/icon7/iconmonstr-twitter-1-2.png">
        <p>Facebook</p>
        <p>234k</p>
        <p>Likes</p>
      </li>
      <li class="content">
          <img src="../../assets/icons/icon8/iconmonstr-instagram-11-4.png">
          <p>Facebook</p>
          <p>234k</p>
          <p>Likes</p>
        </li>
        <li class="content">
            <img src="../../assets/icons/icon9/iconmonstr-youtube-6-2.png">
            <p>Facebook</p>
            <p>234k</p>
            <p>Likes</p>
          </li>
  </ul>
  <div class="language">
    <header>The Daily Burst in other languages</header>
    <ul>
      <li>Hindi<span>हिंदी</span> </li>
      <li>Gugarathi <span>ગુજરાત</span></li>
      <li>Tamil <span>தமிழ்</span></li>
      <li>Urudu   <span>اردو</span></li>
      <li>Malayalam <span>മലയാളം</span></li>
      <li>Marathi <span>मराठी</span></li>
      <li>Panjabi <span>ਪੰਜਾਬੀ</span></li>
      <li>Kannada <span>ಕನ್ನಡ</span></li>
      <li>Bangla <span>বাংলা</span></li>
    </ul>
  </div>
  <div class="about">
    <div class="title">
      <header>The Daily Burst</header>
      <div class="cont">
          <ul>
              <li><img src="../../assets/icons/icon4/iconmonstr-facebook-1-2.png"><span>234k</span></li>
              <li><img src="../../assets/icons/icon3/iconmonstr-twitter-1-2.png"><span>234k</span></li>
              <li><img src="../../assets/icons/icon2/iconmonstr-instagram-11-4.png"><span>234k</span></li>
          </ul>
      </div>
      <div class="tile">
          <ul>
              <li>Contact Us</li>
              <li>Our Team</li>
              <li>Contribute</li>
              <li>Privacy Polacy</li>
            </ul>
      </div>
      
    </div>
    <div class="feedback">
      <div class="box">
        <p>Get recent news updates in your inbox.</p>
        <p>All the latest Premier League news as managers face<br> the media before this weekend's fixtures.</p>
        <input /><button>SUBSCRIBE</button>
      </div>
      <div class="icon">
        <img src="../../assets/icons/icon5/group-16.png">
      </div>
    </div>
  </div>
</div>