<div #menu class="menuCardMob">
    <div  class="menuItems">
        <ul>
            <li style="font-size: 15px;"><strong>MORE</strong></li>
            <li>Sports </li>
            <li>Weather</li>
            <li>Travel </li>
            <li>Shop</li>
        </ul>
        <ul>
            <li>News</li>
            <li>Sports </li>
            <li>Weather</li>
            <li>Travel </li>
            <li>Shop</li>
        </ul>
        <ul>
            <li>News</li>
            <li>Sports </li>
            <li>Weather</li>
            <li>Travel </li>
            <li>Shop</li>
        </ul>
    </div>
</div>