<div class="container"> 
  <div class="content">
    <div class="image">
      <img src="../../assets/image1/bitmap.jpg" >
      <div class="mobileNewsItem">
        <p class="title">FBI hunts trader for 'N Korea links' bbb</p>
        <p>Tan Wee Beng told the BBC that he had only learned of criminal charges against him.</p>
        <p class="category">News</p>
      </div>
    </div> 
    <div class="newsItem">
      <p class="title">FBI hunts trader for 'N Korea links'</p>
      <p>Tan Wee Beng told the BBC that he had only learned of criminal charges against him.</p>
      <p class="category">News</p>
    </div>
  </div>
  <div class="content">
      <div class="image">
        <img src="../../assets/image2/bitmap.jpg" >
      </div>
      <div class="newsItem">
        <p class="title">FBI hunts trader for 'N Korea links'</p>
        <p>Tan Wee Beng told the BBC that he had only learned of criminal charges against him.</p>
        <p class="category">Sports</p>
      </div>
    </div>
    <div class="content">
        <div class="image">
          <img src="../../assets/image3/bitmap.jpg" >
        </div>
        <div class="newsItem">
          <p class="title">FBI hunts trader for 'N Korea links'</p>
          <p>Tan Wee Beng told the BBC that he had only learned of criminal charges against him.</p>
          <p class="category">Explore</p>
        </div>
      </div>
</div>
