<div class="container">
  <div class="show">
    <app-menu-card [isOpen] = "show"></app-menu-card>
  </div>

  <div class="trendingTopics">
    <ul>
      <li>Trending Topics: </li>
      <li>#newjoinees</li>
      <li>#sweetsatpantry</li>
      <li>#betterhealth</li>
      <li>#newprojects</li>
      <li>#locations</li>
      <li>#contests</li>
      <li>#healthylifestyle</li>
      <li>#newjoinees</li>
      <li>#sweetsatpantry</li>
      <li>#betterhealth</li>
      <li>#newprojects</li>
      <li>#locations</li>
      <li>#contests</li>
      <li>#healthylifestyle</li>
    </ul>
  </div>

  <div class="mainPortal">

    <div class="main">

      <app-main-portal></app-main-portal>

      <section class="liveNewsMobile">
        <app-live-news-mobile></app-live-news-mobile>
      </section>

      <div class="addAndNewsContainer">
          <app-advertise></app-advertise>
          <app-categorized-news></app-categorized-news>
      </div>

      <app-trending-news-main></app-trending-news-main>


      <div class="addAndNews">
        <app-advertise></app-advertise>
        <app-categorized></app-categorized>
      </div>

      <app-food-news></app-food-news>

      <app-sports></app-sports>

      <app-travel-news></app-travel-news>
      
      <app-other-news></app-other-news>

    </div>

    <div class="updatingContainer">

      <section class="liveNewsTicker">
        <app-live-news></app-live-news>
      </section>

      <section class="trendingNews">
        <app-trending-news></app-trending-news>
      </section>

    </div>
    
  </div>

  
</div>